.playground{
  position: absolute;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: $mainColor;
  left:0;
  top: 0;
  border: 20px solid black;

  .score{
    position: absolute;
    top: 10px;
    left: 10px;
  }

  button{
    position: absolute;
    bottom: 10px;
    width: 100px;
    left: 50%;
    height: 50px;
    margin-left: -50px;
  }
}